<div class="container">
    <div class="row align-items-start">
        <div class="col-md-8">
            <div class="pet-box">
                <img src="@Model.FotoUrl" alt="Foto de @Model.Nombre" class="img-thumbnail"/>
            </div>

            <h2>Nombre: @Model.Nombre</h2>

            <p><strong>Descipción:</strong> @Model.Descripcion</p>

            <p><strong>Edad de la mascota:</strong> @Model.Edad años</p>

            <p><strong>Dirección:</strong> @Model.Localizacion</p>

            <p><strong>Tamaño de la mascota:</strong> @Model.Tamaño</p>

            <p><strong>Tipo de mascota:</strong> @Model.Tipo</p>

            <p><strong>Sexo de la mascota:</strong> @Model.Genero</p>

            <p><strong>Sociable con:</strong> @Model.SociableCon</p>

            <p><strong>Requisitos de adopción:</strong> @Model.RequisitosAdopcion</p>
        </div>

        <div class="col-md-4 d-flex align-items-start">
            <form asp-action="AdoptPet" asp-controller="Pets" method="post" class="w-100">
                <input type="hidden" name="id" value="@Model.Id" />
                <button type="submit" class="main-button w-100">Adoptar Mascota</button>
            </form>
        </div>
    </div>
</div>